{% extends 'index.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<br><br>

<section id="book-a-table">
  <div class="container" data-aos="fade-up">

    <br><br>
    <div id="register" class="login-header text-center">
      <h5>{% blocktrans %}Welcome back to <span>Vivid Fusion</span>. To book a table at one of our restaurants, please log in. If you
        have not created an account yet, then please <a class="link" href="{{ signup_url }}">sign up</a>
        first.{% endblocktrans %}</h5>
    </div>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      </p>
  </div>
  <br>
  <div class="d-grid gap-2 col-5 mx-auto">
    <button class="btn btn-back" type="submit">{% trans "Sign In" %}</button>
    </div>
  </div>


  {% endblock %}