body {
    font-family: "Open Sans", sans-serif;
    background: #051b02;
    color: #fff;
}

a {
    color: #f39200;
    text-decoration: none;
}

a:hover {
    color: #f7af43;
    text-decoration: underline;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

/*--------------------------------------------------------------
# Preloader

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
}
  
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a1814;
    border-top-color: #cda45e;
    border-bottom-color: #cda45e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}
  
@keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
    border: 2px solid #f7af43;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #f7af43;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #f7af43;
    color: #1a1814;
  }
  
  .back-to-top:hover i {
    color: #444444;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

/*---------------------------------------------------------------
# Book a table button Menu
--------------------------------------------------------------*/
.book-a-table-btn {
    margin: 0 0 0 15px;
    border: 2px solid #f39200;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  .book-a-table-btn:hover {
    background: #f7af43;
    color: #fff;
  }
  
  @media (max-width: 992px) {
    .book-a-table-btn {
      margin: 0 15px 0 0;
      padding: 8px 20px;
    }
  }