{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>




  <!-- ======= Footer ======= -->

  <footer>
    <br><br>
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

       <div class="contact-info">
        <ul>
        <li><div class="address">
            <i class="fa-solid fa-location-pin"></i>
            <h4>Location:</h4>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div></li>
      </ul>

      <ul>
        <li><div class="open-hours">
          <i class="fa-regular fa-clock"></i>
          <h4>Open Hours:</h4>
          <p>
            Monday-Saturday:<br>
            11:00 AM - 2300 PM
          </p>
        </div></li>
      </ul>

      <ul>
        <li><div class="email">
          <i class="fa-regular fa-envelope"></i>
          <h4>Email:</h4>
          <p>info@example.com</p>
        </div></li>
      </ul>

      <ul>
        <li><div class="phone">
          <i class="fa-solid fa-phone"></i>
          <h4>Call:</h4>
          <p>+1 5589 55488 55s</p>
        </div>
      </li>
      </ul>

    </div>
    <br>
    <hr>
    <ul class="social-networks">
      <li>
        <a href="https://facebook.com" target="_blank" rel="noopener"
          aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook facebook"></i></a>
      </li>
      <li>
        <a href="https://github.com/Krnsand" target="_blank" rel="noopener"
          aria-label="Visit our Github page (opens in a new tab)"><i class="fa-brands fa-github github"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/karin-sandin-498073200/" target="_blank" rel="noopener"
          aria-label="Visit my linkedin page (opens in a new tab)"><i class="fa-brands fa-linkedin linkedin"></i></a>
      </li>
      <li>
        <a href="https://instagram.com" target="_blank" rel="noopener"
          aria-label="Visit our Instagram page (opens in a new tab)"><i
            class="fa-brands fa-instagram instagram"></i></a>
      </li>
    </ul>
  </footer>

  <!-- 
<div class="container"></div>
    <div class="card mb-5">
        <img src="../static/assets/img/my-img/404.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>    
        <a href="{% url 'home' %}" class="btn btn-success">Back</a>
-->
</body>
<script src="{% static 'assets/js/main.js' %}"></script>

</html>