{% extends 'index.html' %}

{% block content %}

<!--    {% if user.is_authenticated %}

    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
            <br><br><br>
            <h2>Make a Reservation at One of Our Restaurants!</h2>
            <br>
            <div class="form-group">
               {{ form.media }}
                <form action="" method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-success">
                </form>
            </div>
        </div>

            {% if submitted %}

            <h4>Your reservation is now made. We look forward to seeing you!</h4>

            {% endif %}
        </section>

    {% else %}

    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
            <br><br><br><br>
            <h2>Please register/login to make a reservation</h2>
            <br>
    </section>

    {% endif %} -->

    {% if user.is_authenticated %}
        
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">
                <br><br><br>

                <h2>Make a Reservation at One of Our Restaurants!</h2>
                <br>
                <div class="form-group">
                {{ form.media }}
                    <form action="" method="POST" class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" class="btn btn-success"><a href="{% url 'bookings' %}"></a>
                        <a href="{% url 'bookings' %}" class="btn btn-outline-success">Submit</a>
                    </form>
                </div>
            </div>
        </section>

    {% else %}
    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
            <br><br><br><br>
            <h2>Please register/login to make a reservation</h2>
            <br>
    </section>

    {% endif %}

{% endblock %}