{% extends 'index.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if submitted %}
<div class="reservation-made text-center">
    <h4>Your reservation is now made. We look forward to seeing you!</h4>
</div>

{% else %}

<section id="book-a-table" class="book-table">
    <div class="container" data-aos="fade-up">
        <br><br><br>
        <div class="make-reservation text-center">
            <h3>Make a Reservation at One of Our Restaurants!</h3>
        </div>
        {{ form.media }}
        <form action="" method="POST" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-dark"><a href="{% url 'bookings' %}"></a>
            </p>
    </div>
</section>

{% endif %}

{% else %}
<div class="reservation-made text-center">
    <h4>Please Signup/Login to make a Reservation</h4>
</div>
<br><br>
{% endif %}

{% endblock %}