{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% if user.is_authenticated %}

    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
            <br><br><br><br>
            <h2>Make a Reservation at One of Our Restaurants!</h2>
            <br>
            <div class="form-group">
                {{ form.media }}
                <form action="" method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </section>

            {% if submitted %}

            <h4>Your reservation is now made. We look forward to seeing you!</h4>

            {% endif %}

    {% else %}

    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
            <br><br><br><br>
            <h2>Please register/login to make a reservation</h2>
            <br>
    </section>

    {% endif %}

{% endblock %}