{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link
        href="https://res.cloudinary.com/djdc4rve5/image/upload/v1680528688/static/assets/img/my-img/favicon.3a59751a2645.png"
        rel="icon">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous">
    </script>

    <!-- AOS links -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <title>Vivid Fusion</title>
</head>

<body>

    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

            <div class="logo me-auto me-lg-0"><a href="#">Vivid Fusion</a></div>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="#">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                    <li><a class="nav-link scrollto" href="#restaurants">Restaurants</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookings' %}">My Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- .navbar -->
            {% if user.is_authenticated %}
            <a href="{% url 'add-reservation' %}" class="book-a-table-btn scrollto d-lg-flex">Book a table</a>
            {% endif %}
            <!-- </ul> -->
        </div>
    </header>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Welcome to <span>Vivid Fusion</span></h1>
                    <h2>A place to find great food</h2>

                    <div class="btns">
                        <a href="#restaurants" class="btn-menu animated fadeInUp scrollto">Our Restaurants</a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'add-reservation' %}" class="btn-book animated fadeInUp scrollto">Book a
                            Table</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="about-img">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680457993/static/assets/img/my-img/about.960e215a7a3d.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>A new restaurant group concept bringing you great food for your every mood.</h3>
                        <p class="fst-italic">
                            We here at Vivid fusion have a passion for food in all its forms. From locally sourced fine
                            dining to family style sharing platters with dishes from around the world.
                            Vivid fusion is a restaurant group concept where we have gathered our 3 restaurants in one
                            place so that you won’t have to scour the internet to find them.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> Violet Fusion, a fusion restaurant
                                with influence from all parts of Asia and Latin America.
                            </li>
                            <li><i class="bi bi-check-circle"></i> Green Dining, a restaurant with a passion for locally
                                and seasonlly hunted game so you can be sure to eat organic. </li>
                            <li><i class="bi bi-check-circle"></i> Orange Cushion, a restaurant where we can seat big
                                parties for a family styled meal where everyone shares their plates, as well as small
                                parties for a more intimate experience.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Our Restaurants Section ======= -->
        <section id="restaurants" class="restaurants">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Our Restaurants</h2>
                    <p>Read about our Restaurants</p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <a href="{% url 'violet' %}">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                <span>01</span>
                                <h4>Violet Fusion</h4>
                                <p>With influence from Asia and Latin America, we bring you a modern twist on classic
                                    dishes as well as entirely unique creations</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <a href="{% url 'green' %}">
                            <div class="box" data-aos="zoom-in" data-aos-delay="200">
                                <span>02</span>
                                <h4>Green Dining</h4>
                                <p>Always local, always fresh. Welcome to a drink at our bar or have a seat in the
                                    restaurant, we guarantee a great atmosphere.</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <a href="{% url 'orange' %}">
                            <div class="box" data-aos="zoom-in" data-aos-delay="300">
                                <span>03</span>
                                <h4>Orange Cushion</h4>
                                <p>Family style means homey and comfy. Comfort food from all over the world served in
                                    the same place to be shared with loved ones.</p>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
            <br><br><br>
        </section>
        <!-- End Why Us Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery section-bg">

            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Gallery</h2>
                    <p>Some photos from Our Restaurants</p>
                </div>
            </div>

            <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

                <div class="row g-0">

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680371088/static/assets/img/gallery/gallery-1.a3a3c0d6eb32.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680371087/static/assets/img/gallery/gallery-2.71984355bb90.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680371089/static/assets/img/gallery/gallery-3.26ad6ab2b629.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680371086/static/assets/img/gallery/gallery-4.088d8151a777.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680371089/static/assets/img/gallery/gallery-5.cc071bf750d6.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680371090/static/assets/img/gallery/gallery-6.667aaeec2e8e.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680371086/static/assets/img/gallery/gallery-7.f293e5f4c99f.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680371084/static/assets/img/gallery/gallery-8.371937d1b76a.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                </div>

            </div>
            <br><br><br>
        </section>
        <!-- End Gallery Section -->

    </main>
    <!-- Footer -->

    <footer>
        <br><br>
        <section id="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div class="contact-info">
                    <div class="address">
                        <i class="fa-solid fa-location-pin"></i>
                        <h4>Location:</h4>
                        <p>Violet Street 107, 432 12, Fusionville <br>
                            Greenery Road 123, 432 21, Fusionville <br>
                            Orange Drive 17, 432 34, Fusionville</p>
                    </div>

                    <div class="vl"></div>

                    <div class="open-hours">
                        <i class="fa-regular fa-clock"></i>
                        <h4>Open Hours:</h4>
                        <p>
                            Violet Fusion and Green Dining <br>
                            Wednesday - Sunday:<br>
                            17:00 - 2300 <br>
                            Orange Cushion <br>
                            Monday - Sunday: <br>
                            17:00 - 22:00
                        </p>
                    </div>

                    <div class="vl"></div>

                    <div class="email">
                        <i class="fa-regular fa-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@vividfusion.com</p>
                    </div>

                    <div class="vl"></div>

                    <div class="phone">
                        <i class="fa-solid fa-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>

                </div>
                <br>
                <hr>
                <ul class="social-networks">
                    <li>
                        <a href="https://facebook.com" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)"><i
                                class="fa-brands fa-facebook facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/Krnsand" target="_blank" rel="noopener"
                            aria-label="Visit our Github page (opens in a new tab)"><i
                                class="fa-brands fa-github github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/karin-sandin-498073200/" target="_blank" rel="noopener"
                            aria-label="Visit my linkedin page (opens in a new tab)"><i
                                class="fa-brands fa-linkedin linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://instagram.com" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)"><i
                                class="fa-brands fa-instagram instagram"></i></a>
                    </li>
                </ul>
            </div>
        </section>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="fa-solid fa-chevron-up"></i></a>


    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/fa6067118b.js" crossorigin="anonymous"></script>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

    <script>
        AOS.init();
    </script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>