{% extends 'index.html' %}

{% block content %}
  <h1>Table Bookings</h1>
  <!--<table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>-->
      Hi{% for booking in booking_list %}
      {{ booking.restaurant.name }} Hi
      {% endfor %}
      <tr>
        <td>{{ reservation.date }}</td>
        <td>{{ reservation.time }}</td>
        <td>{{ reservation.name }}</td>
        <td>{{ reservation.email }}</td>
        <td>{{ reservation.phone }}</td>
      </tr>
      <!--<tr>
        <td colspan="6">No reservations for this table</td>
      </tr>
    </tbody>
  </table>-->
{% endblock %}