{% extends 'index.html' %}

<div class="container">
  {% block content %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>My Reservations</h1>
  <ul>
    {% for booking in booking_list %}
    <strong>{{ booking.restaurant.name }}</strong>
    <ul>
    <li>Date: {{ booking.date }}</li>
    <li>Time: {{ booking.time }}</li>
    <li>Number of Guests: {{ booking.guests }}</li>
    <li>Additional Comment: {{ booking.comment }}</li>
  </ul>
  <br>
  <hr>
    {% endfor %}

  {% endblock %}
</div>