{% extends 'index.html' %}

{% block content %}
<br><br><br><br><br><br>

<div class="card text-center details">
    <div class="card-header">
        <br>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ booking.restaurant.name }}</h2>
      <p class="card-text">
        <strong>Date:</strong>
        {{ booking.date }}<br>
        <strong>Time:</strong>
        {{ booking.time }}<br>
        <strong>Number of Guests:</strong>
        {{ booking.guests }}<br>
        <strong>Additional Comment:</strong>
        {{ booking.comment }}<br></p>
      <a href="{% url 'update-booking' booking.pk %}" class="btn btn-outline-success">Edit</a>
      <a href="{% url 'delete-booking' booking.pk %}" class="btn btn-outline-dark">Delete</a> 
      <br>
      <hr>
      <a href="{% url 'bookings' %}" class="btn btn-back">Back</a>
      </div>
      
  </div>

<br><br>

{% endblock %}