{% extends 'index.html' %}

{% block content %}


<br><br><br><br>

<div class="section-title">
  <h2>{{ user.username }}'s Page</h2>
  <p>My Reservations</p>
</div>

{% if user.is_authenticated %}

    {% for booking in booking_list %}

        {% if user.id == booking.user.id %}

        <div class="card booking-card">
          <h4 class="card-header">{{ booking.restaurant.name }}</h4>
          <div class="card-body">
            <h5 class="card-title">{{ booking.date }}</h5>
            <p class="card-text"></p>
            <a href="{% url 'details' booking.pk %}" class="btn btn-outline-success">Click for Details</a>
          </div>
        </div>
        <br>

        {% endif %}

    {% endfor %}

{% endif %}

{% endblock %}