{% extends 'index.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == booking.user.id %}

<section id="book-a-table" class="delete-booking">
    <div class="container" data-aos="fade-up">
        <br><br><br><br><br>

        <div class="card text-center">
            <div class="card-header">
                <h2>Delete your Reservation</h2>
            </div>
            <div class="card-body">
                <h4 class="card-title">Delete: {{ booking.date }}
                    at {{ booking.restaurant.name }}
                </h4>
                <p class="card-text">

                    <form method="post" class="my-class">
                        {% csrf_token %}
                        <br>
                        <strong>Are you sure you want to delete this reservation?</strong>
                        <br><br>
                        <button class="btn btn-danger">Delete Reservation</button>
                    </form>

                </p>
            </div>
            <div class="card-footer text-body-secondary">
                <a href="{% url 'details' booking.pk %}" class="btn btn-success">Back</a>
            </div>
        </div>

        <!--
        <h2>Delete your Reservation</h2>
        <br>
        <h3>Delete: {{ booking.date }} </h3>
        <br>
        <form method="post" class="my-class">
            {% csrf_token %}
            <br>
            <strong>Are you sure you want to delete this reservation?</strong>
            <br><br>
            <button class="btn btn-danger">Delete Reservation</button>
            <a href="{% url 'details' booking.pk %}" class="btn btn-success">Back</a>
        </form>
</section>

{% else %}

<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <br><br><br><br>
        <h2>Please register/login to handle reservations</h2>
        <br>
    </div>
</section>

{% endif %}
{% else %}

<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <br><br><br><br>
        <h2>Please register/login to handle reservations</h2>
        <br>
    </div>
</section>

{% endif %}

-->

{% endblock %}
