{% extends 'index.html' %}

{% block content %}
<br><br><br>

<!-- ======= Hero Section ======= -->
<section id="green" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Green Dining</span></h1>
                <h2>With a passion for local and sustainably sourced food</h2>


            </div>
        </div>
    </div>
</section>

<!-- End Hero -->
<br>
<section id="green-about" class="green-about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="green-about-img">
                    <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680536467/static/assets/img/my-img/green-about.4b9ab3cdf12d.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>The wild life in the fine dining</h3>
                <p class="fst-italic">
                    We here at Green Dining have a real passion for food. We also have a passion for animals and how
                    they are kept and handled. The three of us have been friends since we were young and we have all
                    always preferred to hunt for the meat we want instead of buying it from a store. Now, we understand
                    that might not be for everyone, but that doesn’t mean they shouldn’t be allowed to eat like it!
                    We do also have vegetarian options as well as fish as fresh as can be for those not so meat
                    enthusiasts out there who still want to take part in this dining experience.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Seared duck served with roasted baby potatoes and a delight
                        sauce with gooseberry and tarragon
                    </li>
                    <li><i class="bi bi-check-circle"></i> Fillet of red deer with mushroom croquettes, heirloom carrots
                        and root celery emulsion</li>
                    <li><i class="bi bi-check-circle"></i> Fish of the day served with stewed spinach, confit potatoes
                        and a light lemony butter sauce</li>
                </ul>
                <p>
                    Why not come on by and try the wild life in a fine dining environment. Or grab a beer at the bar
                    with Jamie the house hunter/chef when he peaks out of the kitchen for some laughs.
                </p>
            </div>
        </div>

    </div>
</section>

<br><br><br>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'home' %}" class="btn btn-back">Back</a>
</div>

{% endblock %}