{% extends 'index.html' %}

{% block content %}

<br><br><br>

<!-- ======= Hero Section ======= -->
<section id="orange" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Orange Cushion</span></h1>
                <h2>The place that makes you feel at home</h2>

            </div>
        </div>
    </div>
</section>

<!-- End Hero -->
<br>  
  <section id="orange-about" class="orange-about">
    <div class="container" data-aos="fade-up">
  
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="orange-about-img">
                    <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680457984/static/assets/img/my-img/orange-about.048aa07a83bf.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in
                        voluptate
                        velit.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute
                        irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore
                        eu
                        fugiat nulla
                        pariatur.</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in
                    voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non
                    proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>
  
    </div>
  </section>
  <br><br><br>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'home' %}" class="btn btn-back">Back</a>
    </div>

{% endblock %}