{% extends 'index.html' %}

{% block content %}

<br><br><br>

<!-- ======= Hero Section ======= -->
<section id="orange" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Orange Cushion</span></h1>
                <h2>The place that makes you feel at home</h2>

            </div>
        </div>
    </div>
</section>

<!-- End Hero -->
<br>
<section id="orange-about" class="orange-about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="orange-about-img">
                    <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680457984/static/assets/img/my-img/orange-about.048aa07a83bf.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>The coziest and most colorful place in the city!</h3>
                <p class="fst-italic">
                    Orange Cushion is more than just a restaurant, we are a family. And just like we are a family, we
                    want to make YOU feel like you are part of it too. Here at the Cushion, as we like to call it, we
                    love sharing our food, sharing our tables and sharing stories. Everyone is welcome, whether you are
                    a big party of people or alone looking to meet new people, hop on in to the coziest and most
                    colorful place in the city! We serve family-style here with different themes throughout the year.
                    Themes to look forward to is:

                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Curries from every region of India</li>
                    <li><i class="bi bi-check-circle"></i> Mediterranean food 10 ways</li>
                    <li><i class="bi bi-check-circle"></i> Everything Red</li>
                </ul>
                <p>
                    As you can tell we don’t like fixed menus here at the Cushion, we rather go where our imagination
                    takes us and our budget allows us. Come join us for this (almost) magic cushion ride!

                </p>
            </div>
        </div>
    </div>
</section>
<br><br><br>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'home' %}" class="btn btn-back">Back</a>
</div>

{% endblock %}