{% extends 'index.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == booking.user.id %}
    {% if submitted %}
        <div class="container booking-updated">
            
            <h4>Your reservation has been Updated!</h4>
            
        </div>
    {% else %}

<section id="book-a-table" class="update-booking">
    <div class="container" data-aos="fade-up">
        <br><br>
<!--
      <div class="card text-center update">
            <div class="card-header">
                <h2>Update your Reservation</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
-->
                    <div class="update-reservation text-center">
                        <h3>Make a Reservation at One of Our Restaurants!</h3>
                    </div>
                    <form method="post" class="update-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success">Update</button>
                    </form>
                </p>
            </div>
            <div class="card-footer text-body-secondary">
                <a href="{% url 'details' booking.pk %}" class="btn btn-back">Back</a>
            </div>
        </div>
    </div>
</section>
    {% endif %}

{% else %}

<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <br><br><br><br>
        <h2>Please register/login to handle reservations</h2>
        <br>
    </div>
</section>

{% endif %}
{% endif %}

<br><br><br>

{% endblock %}

