{% extends 'index.html' %}

{% block content %}

<br><br><br>

<!-- ======= Violet Hero Section ======= -->
<section id="violet" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Violet Fusion</span></h1>
                <h2>A modern experience awaits you with an appetite for Latin American and Asian Cuisins - the best of
                    both worlds</h2>

            </div>
        </div>
    </div>
</section>

<!-- End Hero -->
<br>
<section id="violet-about" class="violet-about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="violet-about-img">
                    <img src="https://res.cloudinary.com/djdc4rve5/image/upload/v1680531669/static/assets/img/my-img/violet-about.0b0fff0de379.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Violet Fusion, your new go-to place</h3>
                <p class="fst-italic">
                    Violet Fusion is all about, you guessed it, fusion foods. We have been all over the world and can't
                    get enough of mouth watering scents, memory creating tastes and unforgettable experiences. So
                    although we can’t bring all the wonders of the world right to your table, we can, and will, do our
                    best at recreating our favorites from around the world in a new contemporary way.
                    Some of our stand out dishes are:

                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Mango & Scallop ceviche</li>
                    <li><i class="bi bi-check-circle"></i> Lobster sallad
                        velit.</li>
                    <li><i class="bi bi-check-circle"></i>Portobello dumplings in our secret sauce</li>
                </ul>
                <p>
                    It doesn’t matter if you want a 7 course meal in our coxy but stylish dinner hall, or if you want to
                    drink champagne in our garden. You and your party are welcome to try on flavors from worlds apart.
                </p>
            </div>
        </div>

    </div>
</section>
<br><br><br>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'home' %}" class="btn btn-back">Back</a>
</div>

<!-- </div>

<hr>
</section> -->

{% endblock %}